*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vh; */
    height: 100vh;
}
#parent{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 500px;
    width: 600px;
    background-color: aquamarine;
}
.about{
    margin-bottom: 30px;
}